textarea.notes-japanese-word {
	width: 150px;
	height: 30px;
/*	border: 1px solid #cccccc;*/
	/*padding: 5px;*/
	/*font-color: red;*/
}

textarea.notes-furigana-word {
	width: 150px;
	height: 30px;
/*	border: 1px solid #cccccc;*/
	/*padding: 5px;*/
	/*font-color: red;*/
}

textarea.notes-english-explanation {
	width: 300px;
	height: 30px;
	/*border: 1px solid #cccccc;*/
/*	padding: 5px;*/
}

textarea#audio-path {
    width: 500px;
    height: 20px;
}

div#paragraph {
    width: 600px;
    height: 250px;
    background-color: white;
}


div.left-label {
    position: relative;
    float:left;
    width:14%;
    padding-top:20px;
    /*padding:10px;*/
  /*  border:1px solid red;*/
    display: table-cell;
    vertical-align: middle;
/*vertical-align:text-top;*/
}

div.right-label {
    position: relative;
    float:right;
    width:85%;
    padding-top: 20px;
    /*padding:10px;*/
   /* border:1px solid orange;*/
    vertical-align: bottom;
}

div.one-input {
    display: table-row;
    float: left;
    clear: both;
    width: 100%;
   /* border: 3px solid blue;*/
}

div#card-creator {
    height: 500px;
    width: 97%;
   /* border:1px solid green;*/
}

div.card-name {
    display: inline;
}

div.deck-name {
    display: inline;
}

button.add-rem-button {
    height:40px;
    width: 100px;
}

button.submit-reset-button {
    height:40px;
    width:75px;
}

div.add-deck {
    display: inline;
}

div.add-card {
    display: inline;
}

div.delete-deck {
    display: inline;
}

div.focus-word {
    color: #0000ff;
    display: inline;
}
