html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
	background:#000000;
}
#header {
	background:#000000;
	padding:100px;
}
#content {
	overflow:auto;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:1000px;
	padding-bottom:50px; /* Height of the footer element */
}
#footer {
	background:#000000;
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
}
font.emacsfooter {
	color:#374046;
	background-color:#1a1a1a;
}

font.para1 {
	color:#8B0000;
}
font.functionbuiltin {
	color:#FF8C00;
}
font.string {
	color:#61CE3C;
}
/*font.bracket*/

a:link {
	color:inherit;
	text-decoration:inherit;
}
a:visited {
	color:inherit;
	text-decoration:inherit;
}
* {
    font-family: DejaVu Sans Mono;
}
#linkscontainer {
	position:absolute;
	top:10px;
	right:0px;
	width:250px;
}
